*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    /* background-color: #b2eec5; */
}

#heading{
    text-align: center;
}

.body{
    background-color: rgba(238, 238, 238, .4);
    padding: 20px;
    margin: 5px 20px;
    border-radius: 10px;
    border: 1px dotted black;
}

.input_div{
    text-align: center;
}
#btn:hover{
    background-color: crimson;
    color: white;
    transition: .5s;
}
.myList{
    padding: 20px;
}

ol li:not(:last-child){
    border-bottom: chartreuse 1px solid;
}

.footer{
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 70px;
    background-color: black;
}